# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
react/node_modules
solidity/node_modules

solidity/.env
solidity/cache
solidity/artifacts
solidity/screenshots
